.NavigationItem {
  text-transform: uppercase;
  font-family: 'Bowlby One SC', cursive;
  font-size: 1.25rem;
  margin: 1rem auto;

  &__button,
  &__button:visited {
    display: inline-block;
    color: $colorWhite;
    padding: .25rem 1rem;
    text-decoration: none;
    transition: all .2s;

    &.active {
      color: $colorPrimary;
    }
  }

  &__button:hover {
    color: $colorSecondary;
  }
}

@media (min-width: 1024px) {
  .NavigationItem {
    margin: 0 2rem;
  }
}
