.Projects {
  background-color: #232323;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-image: linear-gradient(#c0c0c0, #eeeeee);
}

.ProjectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 90%;
  color: #464646;
}

.CloseBtn {
  font-size: 3.5rem;
}

.CloseBtn:hover {
  color: #b62a00;
  cursor: pointer;
}


.ProjectDescription {
  width: 90%;
  margin: 1.5rem auto;
}

.ProjectDescription img {
  width: 100%;
}

.ProjectDescription figcaption {
  margin-top: 1rem;
}

.ProjectTools {
  list-style: none;
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ProjectTools li {
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  color: #c0c0c0;
  background-color: #232323;
  border: 2px solid #fff;
  border-radius: .5rem;
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.7) inset, -.5rem -.5rem 1rem rgba(0,0,0,.7) inset;
}

.ProjectFooter {
  width: 90%;
  padding-bottom: 2rem;
  text-align: right;
}
