.NavigationMenu {
  color: white;
  display: flex;
  flex-flow: column;
  list-style: none;
  animation: moveInLeft 2s;
}

@media (min-width: 1000px) {
  .NavigationMenu {
    flex-flow: row;
    animation: moveInRight 2s;
  }
}

@keyframes moveInRight {
  0% { transform: translateX(300%); }
  80% { transform: translateX(-10%); }
  100% { transform: translateX(0);}
}

@keyframes moveInLeft {
  0% { transform: translateX(-300%); }
  80% { transform: translateX(10%); }
  100% { transform: translateX(0);}
}