.NavigationMenuItem {
  text-transform: uppercase;
  font-weight: thin;
  font-size: 1.5rem;
  margin: 1rem auto;
}

@media (min-width: 1000px) {
  .NavigationMenuItem {
    margin: 0 2rem;
  }
}

.NavButton,
.NavButton:link,
.NavButton:visited {
  display: inline-block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: all .3s;
}

.NavButton:hover {
  color: #27adfa;
}

.Active {
  color: white;
  background-color: #27adfa;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0,.4);
}

.Active:hover{
  color: white;
  transform: rotate(3deg) scale(1.1);
  background-color: #1093eb;
  box-shadow: 0 1.5rem 2.5rem rgba(0,0,0,.3);
}
.Active:active {
  transform: rotate(3deg) scale(1);
  background-color: #0973b1;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0,.4);
}