.flower {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 10%;
  height: 30rem;
}

.flower__tree {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65%;
}

.flower__tree::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 48%;
  height: 80%;
  width: 20%;
  border-radius: 100% 100% 0 0;
  border-left: 1rem solid #331704;
}

.flower__pot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
}

.flower__pot_top {
  width: 100%;
  height: 85%;
  border-radius: 0 0 30% 30%;
  background-color: #fff;
  box-shadow: -1rem 0 .5rem rgba(0,0,0,.5), 0 -.5rem .5rem rgba(0,0,0,.3) inset;
  background-image: linear-gradient(transparent 10%, #867878 10%, transparent 20%),
    linear-gradient(90deg, #867878, transparent, #867878);
}

.flower__pot_bottom {
  width: 100%;
  height: 15%;
  border-radius: 100% 100% 0 0;
  background-color: #fff;
  box-shadow: -1rem 0 .5rem rgba(0,0,0,.5), 0 .5rem .5rem rgba(0,0,0,.3) inset;
  background-image: linear-gradient(90deg, #867878, transparent, #867878);
}