.Projects {
  @include flexStart;
  flex-wrap: wrap;
  overflow: hidden;

  &__loading {
    @include flexCenter;
    height: 100vh;
  }

  &__error {
    margin: 7rem auto 0;
    text-align: center;
    color: $colorWhite;
    font-size: 2rem;
  }
}
