.Toolbar {
  width: 100%;

  &__menu {
    @include flexBetween;
    background-image: linear-gradient(
      $colorSecondaryLight, $colorSecondaryDark 5%,
      $colorSecondaryDark 95%, $colorSecondaryLight
    );
    box-shadow: $boxShadowDark;
  }
}

@media (max-width: 1023px) {
  .desktopOnly {
    display: none;
  }
}