.Toolbar {
  width: 100%;
  height: 20vh;
  position: relative;
  z-index: 100;

  @include respond(small-height) {
    height: 15vh;
  }

  @include respond(med-height) {
    height: 10vh;
  }

  &__menu {
    @include flexBetween;
    height: 50%;
    background-image: linear-gradient(
      $colorGray, $colorBlack 5%,
      $colorBlack 95%, $colorGray
    );
  }
}

@media (max-width: 1023px) {
  .desktopOnly {
    display: none;
  }
}