.ProjectBoard {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.ProjectBoard img {
  width: 100%;
  transition: all .3s;
}

@media (min-width: 450px) {
  .ProjectBoard {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .ProjectBoard {
    width: 25%;
  }
  
  .ProjectBoard img {
    transform: scale(1.05);
    opacity: .4;
  }
  
  .ProjectBoard img:hover {
    transform: scale(1.02);
    opacity: .6;
  }
}