.Modal {
  position: fixed;
  z-index: 500;
  width: 80%;
  height: 400px;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
  color: black;
  left: 10%;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 450px) and (min-height: 320px) {
  .Modal { height: 300px; }
}

@media (min-height: 500px) {
  .Modal { height: 400px; }
}

@media (min-width: 700px) and (min-height: 700px) {
  .Modal {
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
  }
}