.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    transition: all .2s;
    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem) rotate(3deg);
    box-shadow: 0 1rem 1.5rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem) rotate(2deg);
    box-shadow: 0 .5rem .5rem rgba($color-black, .2);
  }

  &__arrow {
    font-size: 2.2rem;
    padding-left: 1rem;
  }

  &--blue {
    background: $color-primary;
    color: $color-white;

    &:focus,
    &:active {
      background-color: $color-primary-dark;
    }

    &::after {
      background: $color-primary;
    }
  }

  &--orange {
    background: $color-secondary-light;
    color: $color-white;

    &:focus,
    &:active {
      background-color: $color-secondary-dark;
    }

    &::after {
      background: $color-secondary-light;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s .75s ease-out backwards;
  }
}
