.link {
  &:link,
  &:visited {
    color: $color-primary-dark;
    padding: 0 .5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
  }

  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-primary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    transform: rotate(3deg) scale(1.1);
  }

}
