.Logo {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 4rem;
  color: #fff;
  font-family: 'Lalezar', cursive;
}

.Logo__o {
  font-size: 2rem;
  animation: appearFromTop 1s .8s backwards;
}

.Logo__b {
  font-size: 1rem;
  animation: appearFromLeft 1.3s backwards;
}

@media (min-height: 500px) {
  .Logo__o { font-size: 2.5rem; }
  .Logo__b { font-size: 1.5rem; }
}

@keyframes appearFromTop {
  0% { transform: translateY(-150%); }
  40% { transform: translateY(0); }
  60% { transform: translateY(-70%); }
  75% { transform: translateY(0); }
  85% { transform: translateY(-50%); }
  95% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes appearFromLeft {
  from { transform: translateX(-200%); }
  to { transform: translateX(0); }
}