.Logo {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 4rem;
  color: #fff;
  font-family: 'Lalezar', cursive;
}

.Logo__firstname {
  font-size: 2rem;
  /* animation: appearFromTop 1s .8s backwards; */
}

.Logo__lastname {
  font-size: 1rem;
  animation: appearFromLeft 1.3s backwards;
}

.letter {
  animation: type .2s backwards;
}

@media (min-height: 500px) {
  .Logo__firstname { font-size: 2.5rem; }
  .Logo__lastname { font-size: 1.5rem; }
}

@keyframes type {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes appearFromLeft {
  from { transform: translateX(-200%); }
  to { transform: translateX(0); }
}