.Logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    font-family: 'Bowlby One SC', cursive;
    font-size: 3rem;
    color: $colorWhite;
    background-position: center;
    transform: rotate(45deg);
    box-shadow: $boxShadowDark;
  }

  &__name {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: $colorWhite;
    font-family: 'Lalezar', cursive;

    &__firstname {
      font-size: 2rem;
      display: flex;

      @include respond(tablet) { 
        font-size: 2.5rem; 
      }
    }

    &__lastname {
      display: flex;
      font-size: 1rem;

      @include respond(tablet) {
        font-size: 1.5rem;
      }
    }
  }
}
