.Project {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.Project img {
  width: 100%;
  transition: all .3s;
}

@media (min-width: 450px) {
  .Project {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .Project {
    width: 25%;
  }
  
  .Project img {
    transform: scale(1.05);
    opacity: .4;
  }
  
  .Project img:hover {
    transform: scale(1.02);
    opacity: .6;
  }
}