.Project {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.Project__img {
  width: 100%;
  transition: all 3s;
  filter: grayscale(100%);
}

.Project__title {
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
  text-align: center;
  /* color: #d1d1d1; */

  font-weight: bold;
  font-size: 2rem;
  transition: all .5s;
  transform: translateY(-50%);
}

.Project:hover .Project__title {
  top: 50%;
}

@media (min-width: 450px) {
  .Project {
    width: 50%;
  }
}

@media (min-width: 768px) {
  /* .Project {
    width: 25%;
  } */
  
  .Project__img {
    transform: scale(1.15);
  }
  
  .Project:hover .Project__img {
    transform: scale(1.02);
  }
}