.RoomImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wall__side,
.wall__center_top,
.wall__center_bottom {
  background-color: #9c9c9c;
  background-image: 
    linear-gradient(335deg, #bbbbbb 23px, transparent 23px),
    linear-gradient(155deg, #c4c4c4 23px, transparent 23px),
    linear-gradient(335deg, #bbbbbb 23px, transparent 23px),
    linear-gradient(155deg, #c4c4c4 23px, transparent 23px);
  background-size: 58px 58px;	
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.wall__side {
  width: 10%;
  height: 100%;
}

.wall__center {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.wall__center_top {
  width: 100%;
  height: 5%;
}

.wall__center_bottom {
  width: 100%;
  height: 15%;
}

.windows {
  width: 100%;
  height: 80%;
  display: flex;
  border: 2rem solid #d1d1d1;
}

.windows__window {
  width: 25%;
  height: 100%;
  border: 1rem solid #e2e2e2;
  perspective: 1000px;
  perspective-origin: bottom;
}

.windows__window:last-of-type { cursor: pointer; }

.window__border {
  height: 100%;
  width: 100%;
  border: 1.5rem solid #e2e2e2;
  box-shadow: -2px -2px 2px rgba(0,0,0,.2), 2px 2px 2px rgba(0,0,0,.2);
  transition: all .2s;
}

.window__grip {
  position: absolute;
  bottom: 1%;
  left: 30%;
  width: 30%;
  height: 2%;
  border-radius: 0 20% 20% 0;
  background-image: linear-gradient(90deg, #aaa 5%, transparent 8%, #aaa), 
    linear-gradient(#aaa, #fff, #aaa);
  box-shadow: 2px 2px .5rem rgba(0,0,0,.3);
  transition: all .3s;
  transform-origin: right;
}

.window__glass {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, 
    transparent 60%, rgba(255,255,255,.2) 60%, 
    rgba(255,255,255,.2) 80%, transparent 80%);
  box-shadow: 2px 2px #7a7a7a inset;
}

.opened {
  transform: rotateX(-50deg);
}

.opened .window__grip {
  transform: rotate(90deg);
  bottom: -3%;
}

.flower {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 10%;
  height: 30rem;
}

.flower__tree {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65%;
}

.flower__tree::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 48%;
  height: 80%;
  width: 20%;
  border-radius: 100% 100% 0 0;
  border-left: 1rem solid #331704;
}

.leave {
  position: absolute;
  z-index: 10;
  width: 5rem;
  height: 3rem;
  border-radius: 100% 100% 0 100%;
  border: 1px solid #102c0f;
  box-shadow: -5px 5px 5px rgba(0,0,0,.3);
}

.flower__pot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
}

.flower__pot_top {
  width: 100%;
  height: 85%;
  border-radius: 0 0 30% 30%;
  background-color: #fff;
  box-shadow: -1rem 0 .5rem rgba(0,0,0,.5), 0 -.5rem .5rem rgba(0,0,0,.3) inset;
  background-image: linear-gradient(transparent 10%, #867878 10%, transparent 20%),
    linear-gradient(90deg, #867878, transparent, #867878);
}

.flower__pot_bottom {
  width: 100%;
  height: 15%;
  border-radius: 100% 100% 0 0;
  background-color: #fff;
  box-shadow: -1rem 0 .5rem rgba(0,0,0,.5), 0 .5rem .5rem rgba(0,0,0,.3) inset;
  background-image: linear-gradient(90deg, #867878, transparent, #867878);
}