.section-about {
  padding: 10rem 0;
  background-color: $color-gray-light-1;
}

.section-projects {
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-secondary-dark, .8),
      rgba($color-primary-dark, .8)),
    url(../img/working-large-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
