.Project {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.Project__img {
  width: 100%;
  transition: all 3s;
  filter: grayscale(100%);
}

.Project__title {
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  transition: all .5s;
  transform: translateY(-50%);
}

.Project:hover .Project__title {
  top: 50%;
}

@media (min-width: 450px) {
  .Project { width: 50%; }
}

@media (min-width: 768px) {  
  .Project__img { transform: scale(1.15); }
  .Project:hover .Project__img { transform: scale(1.02); }
}

.fromTop { animation: appearFromTop 1.5s 1s backwards; }
.fromBottom { animation: appearFromBottom 1.5s 1s backwards; }
.fromLeft { animation: appearFromLeft 1.5s 1s backwards; }
.fromRight { animation: appearFromRight 1.5s 1s backwards; }

@keyframes appearFromTop {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes appearFromBottom {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes appearFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes appearFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}