.Project {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    transition: all 3s;
    filter: grayscale(100%);

    @include respond(tablet) {
      transform: scale(1.15);
    }
  }

  &__title {
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    color: $colorPrimary;
    text-shadow: 0 2px $colorPrimaryDark;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    transition: all .5s;
    transform: translateY(-50%);
  }
  &:hover &__title {
    top: 50%;
  }

  &:hover &__img {
    
    @include respond(tablet) {
      transform: scale(1.02);
    }
  }
}

.fromTop { animation: appearFromTop 1.5s 1s backwards; }
.fromBottom { animation: appearFromBottom 1.5s 1s backwards; }
.fromLeft { animation: appearFromLeft 1.5s 1s backwards; }
.fromRight { animation: appearFromRight 1.5s 1s backwards; }

@keyframes appearFromTop {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes appearFromBottom {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes appearFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes appearFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
