.SkillIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 500px) {
  .SkillIndex {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .SkillIndex {
    width: 25%;
  }
}

.Indicator {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 1px solid white;
}
