.ProjectModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #d1d1d1;
}

.ProjectModal__image {
  width: 100%;
  height: 25%;
  background-size: cover;
  background-position: center;
}

.ProjectModal__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.data__header__title {
  font-size: 1.5rem;
}

.data__header__closeButton {
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  transition: all .2s;
  cursor: pointer;
}

.data__header__closeButton:hover {
  background-color: #aaa;
  color: #fff;
}

.data__description {
  padding:2rem;
  font-size: 1rem;
}

.data__toolBox {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  list-style: none;
}

.toolBox__tool {
  padding: .5rem;
  margin: .5rem;
  font-size: 1rem;
  background-color: #aaa;
  color: #fff;
}

.data__footer {
  width: 100%;
}

.data__footer * {
  width: 50%;
  text-align: center;
}

@media (min-width: 600px) and (min-height: 600px) {
  .ProjectModal__image { width: 30%; height: 100%; }
  .ProjectModal__data { width: 70%; height: 100%; }
  .data__header__title { font-size: 2rem; }
  .data__description { font-size: 1.5rem; }
  .toolBox__tool { font-size: 1.5rem; }
}