.ProjectModal {
  @include fullSize;
  @include flexWrap;
  background-color: $colorWhite;

  &__image {
    width: 100%;
    height: 25%;
    @include background;
  }

  &__data {
    width: 100%;
    @include flexBetween;
    flex-direction: column;
    color: $colorBlack;
  }
}

.data {
  &__header {
    width: 100%;
    @include flexBetween;
    padding-left: 2rem;

    &__title {
      font-size: 1.5rem;
      color: $colorPrimary;
      text-shadow: 0 2px $colorPrimaryDark;
    }

    &__closeButton {
      width: 4rem;
      height: 4rem;
      text-align: center;
      font-size: 3rem;
      transition: all .2s;
      cursor: pointer;
    }

    &__closeButton:hover {
      background-color: $colorGray;
      color: $colorWhite;
    }
  }

  &__description {
    padding:2rem;
    font-size: 1rem;
  }

  &__toolBox {
    @include flexWrap;
    // padding: 2rem;
    list-style: none;

    &__tool {
      padding: .5rem;
      margin: .5rem;
      font-size: 1rem;
      background-color: $colorGray;
      color: $colorWhite;
    }
  }

  &__footer {
    width: 100%;
    display: flex;

    & * {
      width: 50%;
      text-align: center;
    }
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .ProjectModal__image { width: 30%; height: 100%; }
  .ProjectModal__data { width: 70%; height: 100%; }
  .data__header__title { font-size: 2rem; }
  .data__description { font-size: 1.5rem; }
  .toolBox__tool { font-size: 1.5rem; }
}