.MainHeading {
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.Name {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  margin: 1rem;
  animation: moveInLeft 2s ease-out;
}

.Role {
  opacity: 0;
  font-size: 2rem;
  animation: fadeIn 1.2s .75s forwards;
}

.Message {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: .75rem;
  animation: moveInRight 2s ease-out;
}

@media (min-width: 500px) {
  .Name { margin: 1rem; }
  .Message { margin: 0 10%; }
}

@media (min-width: 768px) {
  .Name { font-size: 3.5rem; }
  .Role { font-size: 2.5rem; }
  .Message { font-size: 1.5rem; }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  80% {
    transform: translateX(.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  80% {
    transform: translateX(-.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes moveOut {
  from { transform: translateY(0); }
  to { opacity: 0; transform: translateY(80%); }
}