.MainHeading {
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
}

.light { color: #fff; }

.dark { color: #232323; }

.MainHeading__name {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  margin: 1rem;
  animation: appearFromLeft 2s ease-out;
}

.MainHeading__role {
  opacity: 0;
  font-size: 2rem;
  animation: fadeIn 1.2s .75s forwards;
}

.MainHeading__message {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: .75rem;
  animation: appearFromRight 2s ease-out;
}

@media (min-width: 500px) {
  .MainHeading__name { margin: 1rem; }
  .MainHeading__message { margin: 1rem 10%; }
}

@media (min-width: 768px) {
  .MainHeading__name { font-size: 3.5rem; }
  .MainHeading__role { font-size: 2.5rem; }
  .MainHeading__message { font-size: 1.5rem; }
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  80% {
    transform: translateX(.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  80% {
    transform: translateX(-.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}