.PersonImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  animation: appearFromBottom 1s .5s backwards;
}

.head {
  background-color: #c28964;
  box-shadow: -2rem 0 2rem rgba(0,0,0,.4) inset;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
  width: 40%;
  height: 55%;
  border-radius: 0 0 70% 100%;
}

.leftEar {
  background-color: #c28964;
  position: absolute;
  width: 13%;
  height:35%;
  top: 25%;
  left: -8%;
  border-radius: 30% 70% 0 60%;
  transform: rotate(-10deg);
}

.rightEar {
  background-color: #c28964;
  box-shadow: 2rem 0 2rem rgba(0,0,0,.4) inset;
  position: absolute;
  width: 11%;
  height:35%;
  top: 22%;
  right: -8%;
  border-radius: 70% 20% 90% 0;
}

.hair__top {
  background-color: #0f0f0f;
  position: absolute;
  height: 30%;
  width: 100%;
  top: -30%;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  display: flex;
  justify-content: space-between;
}

.hair__top div {
  position: absolute;
  background-color: #0f0f0f;
  height: 40%;
  width: 15%;
  border-top-left-radius: 100%;
  transform: rotate(30deg) skewY(130deg);
}
.hair__top div::after,
.hair__top div::before {
  content: "";
  position: absolute;
  background-color: #0f0f0f;
  height: 100%;
  width: 100%;
  border-top-left-radius: 100%;
}

.hair__top div:first-of-type { left: 20%; top: -10%; }
.hair__top div:first-of-type::before { left: -50%; top: -25%; }
.hair__top div:first-of-type::after { right: -50%; top: 25%; }
.hair__top div:nth-of-type(2) { left: 50%; top: -15%; }
.hair__top div:nth-of-type(2)::before { left: -60%; top: -35%; }
.hair__top div:nth-of-type(2)::after { right: -55%; top: 45%; }
.hair__top div:nth-of-type(3) { left: 77%; top: 0; }
.hair__top div:nth-of-type(3)::before { left: -60%; top: -50%; }
.hair__top div:nth-of-type(3)::after { right: -60%; top: 90%; }

.hair__top::after {
  background-color: #0f0f0f;
  content: "";
  position: absolute;
  bottom: -25%;
  left: 35%;
  width: 30%;
  height: 70%;
  transform: rotate(-17deg) skew(60deg);
}

.hair__side_left {
  background-image: linear-gradient(#0f0f0f, rgba(0,0,0,0));
  content: "";
  position: absolute;
  width: 10%;
  height: 40%;
  border-bottom-right-radius: 100%;
}

.hair__side_right {
  background-image: linear-gradient(#0f0f0f, rgba(0,0,0,0));
  content: "";
  position: absolute;
  right: 0;
  width: 5%;
  height: 35%;
  border-bottom-left-radius: 100%;
}

.eyes {
  position: absolute;
  top: 33%;
  left: 25%;
  height: 20%;
  width: 65%;
}

.eyes::before,
.eyes::after {
  content: "";
  position: absolute;
  top: -50%;
  border: 3px solid #0f0f0f; 
}

.eyes::before {
  left: -10%;
  width: 45%;
  transform: rotate(2deg) skew(-30deg);
  border-radius: 100% 0 0 0;
}

.eyes::after {
  right: -5%;
  width: 35%;
  border-radius: 0 100% 0 0;
  transform: rotate(2deg) skew(30deg);
}

.eyes__left,
.eyes__right {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.eyes__right { right: 0; }

.eyes__eyelid {
  position: absolute;
  top: -100%;
  background-color: #b3774f;
  width: 100%;
  height: 100%;
  animation: closeEyes 5s infinite ease-out;
}

.eyes__apple {
  border-radius: 50%;
  width: 50%;
  height: 140%;
  background-color: #3d1d08;
  display: flex;
  align-items: center;
}

.eyes__apple::before {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: white;
  margin-left: 5%;
}

.nose {
  position: absolute;
  top: 56%;
  left: 50%;
  width: 23%;
  height: 10%;
  background: none;
  border-radius: 50%;
  border-bottom: solid 4px #0f0f0f;
}

.nose::before {
  position: absolute;
  content: "";
  top: -310%;
  left: 20%;
  height: 400%;
  width: 70%;
  background-image: 
    linear-gradient(to bottom, 
    #c28964 2%, transparent),
    linear-gradient(90deg,
    #c28964, #ebad83, #c28964);
  transform: rotate(-3deg);
}

.mouth {
  position: absolute;
  top: 61%;
  left: 35%;
  width: 42%;
  height: 17%;
  background: none;
  border-radius: 50%;
  border-bottom: solid 4px #0f0f0f;
  transform: rotate(5deg);
}

.neck {
  position: absolute;
  top: 75%;
  left: 40%;
  z-index: 2;
  background-color: #c28964;
  box-shadow: -2rem 0 2rem rgba(0,0,0,.4) inset;
  width: 20%;
  height: 20%;
  border-radius: 0 0 40% 40%;
}

.clothes {
  position: absolute;
  content: "";
  left: 15%;
  bottom: -15%;
  z-index: 1;
  width: 70%;
  height: 30%;
  background-color: #0f0f0f;
  border-radius: 100% 100% 0 0;
  box-shadow: -2rem 0 2rem rgba(0,0,0,.4) inset;
}

@keyframes appearFromBottom {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes closeEyes {
  0% { top: -100%; }
  2% { top: 0; }
  3% { top: -100% }
  100% { top: -100% }
}