.ContactsPage {
  height: 100%;
  width: 100%;
  text-align: center;
}

.message {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.form {
  position: relative;
  margin: 0 auto;
  width: 90%;
  z-index: 5;
}

.form * {
  padding: 1rem;
  margin: .5rem 0;
  font-family: inherit;
  font-size: 1.2rem;
}

.form__inputField {
  display: block;  
  height: 1.5rem;
  width: 100%;
}

.form__messageField {
  display: block;
  height: 4rem;  
  width: 100%;
}
