@import 'sass/_variables';
@import 'sass/_mixins';
@import 'sass/_amimations';

@import 'sass/components/_social-media';

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1500;
  background-color: $color-gray-dark-3;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $color-gray-light-1;

  @include respond(tab-port) {
    padding: 1rem 0;
  }

  &__copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
  }

  &__social {
    text-align: right;
    flex-grow: .5;
    margin-right: 4rem;
  }
}
