@import 'sass/_variables';
@import 'sass/_mixins';
@import 'sass/components/_button';


.Home {
  position: relative;
  background-image: url(img/hero-filter-small.jpg);
  @include heroBgSettings;

  &__background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(img/hero-small.jpg);
    transition: opacity 1s;
    @include heroBgSettings;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
           only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           only screen and (min-width: 125em)
    {
      background-image: url(img/hero.jpg);
    }
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         only screen and (min-width: 125em)
  {
    background-image: url(img/hero-filter.jpg);
  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: left;
  }
}