*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tablet) { 
    font-size: 75%; 
  }

  @include respond(laptop) {
    font-size: 87.5%; // 1rem = 14px
  }

  @include respond(laptop-lg) {
    font-size: 100%; // 1rem = 16px
  }
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

::selection {
  background-color: $colorPrimary;
  color: $colorWhite;
}

:global .letter {
  transition: all .2s;
    
  &:hover {
    display: inline-block;
    transform: rotate(5deg) scale(1.4);
    color: $colorSecondary;
  }
}

:global .night {
  color: $colorWhite;
}

:global .day { 
  color: $colorSecondaryLight;
  text-shadow: 2px 0 $colorSecondaryDark;
}