*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
/* 1rem = 10px */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

::selection {
  background-color: orangered;
  color: white;
}

/* Media Query Manager

1em = 16px (browser font size setting)
600px / 16px = 37.5em
900px / 16px = 56.25em
1200px / 16px = 75em
1800px / 16px = 112.5em */
@media only screen and (max-width: 37.5em) {
  /* 1rem = 9px, 9/16 = 56.5% */
  html { font-size: 56.5%; }
}
@media only screen and (max-width: 56.25em) {
  /* 1rem = 9px, 8/16 = 50% */
  html { font-size: 50%; }
}
@media only screen and (max-width: 75em) {
  /* 1rem = 12px, 12/16 = 75% */
  html { font-size: 75%; }
}