$colorPrimaryLight: #43cea2;
$colorPrimary: #27adfa;
$colorPrimaryDark: #185a9d;
$colorSecondaryLight: #94705b;
$colorSecondary: #e6902f;
$colorSecondaryDark: #665034;
$colorSecondaryDarkest: #423119;
$colorWhite: #f0f0f0;

$boxShadowVertical: 0 -.15rem .5rem rgba(0,0,0,.5), 0 .5rem 1rem rgba(0,0,0,.6);
$boxShadowCenter: 0 0 1.5rem rgba(0,0,0,.7);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin background {
  background-position: center;
  background-size: cover;
}
///////////////////////
// MEDIA QUERY MANAGER
///////////////////////
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 550px) { @content };
  }
  @if $breakpoint == small-height {
    @media only screen and (min-height: 500px) { @content };
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) { @content };
  }
  @if $breakpoint == med-height {
    @media only screen and (min-height: 768px) { @content };
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1024px) { @content }; 
  }
  @if $breakpoint == laptop-lg {
    @media only screen and (min-width: 1200px) { @content };
  }
}