$colorPrimaryLight: #43cea2;
$colorPrimary: #27adfa;
$colorPrimaryDark: #185a9d;
$colorSecondary: #e6902f;
$colorWhite: #f0f0f0;

$boxShadowDark: 0 0 1rem rgba(0,0,0,.9);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin background {
  background-position: center;
  background-size: cover;
}
///////////////////////
// MEDIA QUERY MANAGER
///////////////////////
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 550px) { @content };
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) { @content };
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1024px) { @content }; 
  }
  @if $breakpoint == laptop-lg {
    @media only screen and (min-width: 1300px) { @content };
  }
}