.Background {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: fadeIn 4s 1s forwards;
}

.Background video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: .7; }
}