.SkillIndex {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 500px) {
  .SkillIndex { width: 30%; }
}

@media (min-width: 768px) {
  .SkillIndex { width: 25%; }
}

@media (min-width: 768px) {
  .SkillIndex { width: 20%; }
}

.Indicator {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 .1rem .25rem rgba(0,0,0,.3) inset, 0 -0.1rem .1rem rgba(255,255,255,.1) inset;
  background-color: rgba(0,0,0,.2);
}

.Indicator::before {
  position: absolute;
  content: "";
  top: 2.5rem;
  left: 25%;
  width: 50%;
  height: 5rem;
  background-image: linear-gradient(
    #4e4e4e 20%, transparent 20%, transparent 100%
  );
  background-size:  100% 10%;
}

.Progress {
  position: relative;
  height: 6rem;
  margin: 2rem 0;
  width: 5%;
  background-color: #1f1f1f;
  border-radius: .5rem;
  background-image: linear-gradient(90deg, #141414, transparent, #141414);
  box-shadow: 0 .2rem .25rem rgba(0,0,0,.6) inset, 0 -.1rem .1rem rgba(255,255,255,.4) inset;
  transition: all .5s;
}

.ProgressValue {
  position: absolute;
  bottom:  0;
  width: 100%;
}

.ProgressBar {
  position: absolute;
  top: 100%;
  left: calc(-2rem + 50%);
  width: 4rem;
  height: 2rem;
  background-image: linear-gradient(90deg, #141414 5%, transparent 5%, transparent 95%, #141414 95%),
    linear-gradient(#727272, #303030 45%, #d1d1d1 45%, #d1d1d1 55%, #141414 55%, #111);
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.4);
  transition: all 1s;
  transform: translateY(-50%);
  animation: loading 1s forwards;
}

.Indicator:hover .Progress {
  background-color: #02ff89;
}

@keyframes loading {
  from { top: 100%; }
  to { top: 0; }
}